
.nsk-inset-searchbox {
  padding:0;
  padding-right:10px;
}
.nsk-header-icon-hspacer {
  display :inline-block;
  width:18px;
}

.nsk-header-searchbox {
  display:inline-block;
  position: absolute;
  right:0;
  padding:0;
  width:25%;
}

