.nsk-thin-centered{
  width:70%;
  height:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top:10%;
}

.nsk-border-clear{
  border-bottom: none;
  border-top: none;
}

.nsk-border-clear-first{
  border-bottom: none;
}
.nsk-border-clear-last{
  border-top: none;
}

.nsk-no-margin{
margin-top:0px;
margin-bottom:0px;
margin-left:0px;
margin-right:0px;
}
