<ion-view ng-controller="EditorCtrl">
  
  <ion-header-bar class="bar-subheader has-header">
    <div class="nsk-margin-auto">
      <text-angular-toolbar  name="toolbar" class="nsk-margin-auto"></text-angular-toolbar>
    </div>
     <button class="button" ng-controller="SaveCtrl" ng-click="saveAndsend()">Save</button>
  </ion-header-bar>

  <ion-content has-header="true" class="has-header">
    
    <div  id="currentFile" class="has-header nsk-thin-centered nsk-box-border nsk-box-shadow">
      
      <button style="width:100%;" type="button" class="btn btn-default"
      ng-click="storeCanvas()">Create canvas</button>
      
      <div ng-repeat="item in currentTemplate" ng-switch="item.type">
        

        <div ng-switch-when="TextArea">
          <h4>{{item.name}}</h4>
          <div nsk-textArea>
            <text-angular name="htmlcontent{{$index}}" ng-model="item.value" ta-target-toolbars='toolbar'></text-angular>
          </div>
        </div>
        
        <div ng-switch-when="TextLine">
          <h4>{{item.name}}</h4>
          <input type="text" class="form-control nsk-bt-input nsk-editor-margin-bottom nsk-input" ng-model="item.value" placeholder={{item.value}}>
        </div>
        
        <div ng-switch-when="Image" class="nsk-tpl-image nsk-editor-margin-bottom">
          <h4>{{item.name}}</h4>
          <div ><img class="nsk-tpl-img" ng-src="{{item.value}}"></div>
          <button type="button" class="btn btn-default nsk-tpl-btn"
          ng-click="addImage(item)">Ajouter image</button>
        </div>
        
        <div ng-switch-when="Sound" class="nsk-tpl-sound nsk-editor-margin-bottom">
          <h4>{{item.name}}</h4>
          <div ><img class="nsk-tpl-img" src="img/sound.svg"></div>
          <button  type="button" class="btn btn-default nsk-tpl-btn"
          ng-click="addSound(item)">Ajouter message sonore</button>
        </div>

        <div ng-switch-when="Video" class="nsk-tpl-video nsk-editor-margin-bottom">
          <h4>{{item.name}}</h4>
          <div ><img class="nsk-tpl-img" src="img/video.svg"></div>
          <button  type="button" class="btn btn-default nsk-tpl-btn" 
          ng-click="addVideo(item.value)">Ajouter video</button>
        </div>

        <div ng-switch-when="User">
          <h4>{{item.name}}</h4>
          <div class="input-group nsk-input">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control nsk-bt-input nsk-editor-margin-bottom" placeholder="Username">
          </div>
        </div>
        
        <div ng-switch-when="Creator">
          <h4>{{item.name}}</h4>
          <div class="input-group input-group-large nsk-input nsk-editor-margin-bottom">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control nsk-bt-input" placeholder="Username">
          </div>
        </div>
        
        <div ng-switch-when="Coordinates" class="nsk-editor-margin-bottom">
          <h4>{{item.name}}</h4>
          <iframe width="425" height="350" frameborder="0" scrolling="no"
          marginheight="0" marginwidth="0"
          ng-src="{{osmURL(item.value)}}" style="border: 1px solid black"></iframe><br/>
          <button style="width:425px;" type="button" class="btn btn-default"
          ng-click="addCoordinate(item)">Ajouter coordonnees</button>
        </div>
        
        <div ng-switch-when="Email">
          <h4>{{item.name}}</h4>
          <div class="input-group nsk-input nsk-editor-margin-bottom">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control nsk-bt-input" placeholder="{{item.value}}">
          </div>
        </div>
        
        <div ng-switch-when="Phone">
          <h4>{{item.name}}</h4>
          <div class="input-group nsk-input nsk-editor-margin-bottom">
            <span class="input-group-addon">@</span>
            <input type="tel" class="form-control nsk-bt-input" placeholder="{{item.value}}">
          </div>
        </div>
        
        <div ng-switch-when="Date">
          <h4>{{item.name}}</h4>
          <div class="input-group nsk-input nsk-editor-margin-bottom">
            <span class="input-group-addon">@</span>
            <input type="date" class="form-control nsk-bt-input" placeholder="{{item.value}}">
          </div>
        </div>

        <div ng-switch-when="Time">
          <h4>{{item.name}}</h4>
          <div class="input-group nsk-input nsk-editor-margin-bottom">
            <span class="input-group-addon">@</span>
            <input type="time" class="form-control nsk-bt-input" placeholder="{{item.value}}">
          </div>
        </div>
        
        <div ng-switch-when="Radiobox">
          <h4>{{item.name}}</h4>
          <div class="nsk-radiobox nsk-editor-margin-bottom">
            <ion-radio  ng-repeat="val in item.value"
                        ng-value="val"
                        ng-model="item.result">
                        {{val}}
            </ion-radio>
          </div>
        </div>
        
        <div ng-switch-when="Checkbox">
          <h4>{{item.name}}</h4>
          <div class="nsk-checkbox nsk-editor-margin-bottom">
            <ion-checkbox  ng-repeat="val in item.value"
                        ng-checked="val.checked"
                        ng-model="val.checked">
                        {{val.text}}
            </ion-checkbox>
          </div>
        </div>
      </div>

      <button style="width:100%;" type="button" class="btn btn-default"
      ng-click="parseTemplate()">Refresh test</button>
      
      <button style="width:100%;" type="button" class="btn btn-default"
      ng-click="showImage()">image test</button>
      

    </div>
  </ion-content>

</ion-view>
