<ion-view >  
  <ion-tabs class="tabs-positive tabs-icon-only">

    <ion-tab title="Dossier" icon="ion-document-text" >
            
      <ion-content has-header="true">
      </ion-content>
    
    </ion-tab>

    <ion-tab title="Mes info" icon="ion-person">
            
      <ion-content has-header="true" class="has-header">
        
        <div class="list card nsk-option-userphoto">


          <div class="item item-image">
            <img src="http://lorempixel.com/output/food-q-c-128-128-1.jpg">
          </div>

          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-camera"></i>
            Changer photo
          </a>

        </div>
                  
        
        <div class="list list-inset">
          
          <div class="item item-divider">
            Infos personelle
          </div>

          <!-- Name -->
          <div class="item item-icon-left item-button-right">
            
            <button class="button button-positive">
            Modifier
            </button>
            
            <i class="icon"></i>
            Nom
          </div>
          
          <!-- Surname -->
          <div class="item item-icon-left item-button-right">
            
            <button class="button button-positive">
            Modifier
            </button>
            
            <i class="icon"></i>
            Prenom
          </div>
          
          <div class="item item-divider">
            Parametres du compte
          </div>
          <!-- Email -->
          <div class="item item-icon-left item-button-right">
            
            <button class="button button-positive">
            Modifier
            </button>
            
            <i class="icon ion-email"></i>
            E-mail
          </div>
          
          <!-- Password -->
          <div class="item item-icon-left item-button-right">
            
            <button class="button button-positive">
            Modifier
            </button>
            
            <i class="icon ion-key"></i>
            Mot de passe
          </div>
          
          <!-- Affiliation -->
          <div class="item item-icon-left item-button-right">
            
            <button class="button button-positive">
            Modifier
            </button>
            
            <i class="icon ion-link"></i>
            Affiliation
          </div>

        </div>

      </ion-content>
    
    </ion-tab>

    <ion-tab title="Chat" icon="ion-chatbox-working">
            
      <ion-content has-header="true" class="has-header">
      </ion-content>
  
    </ion-tab>


    <ion-tab title="General" icon="ion-ios7-gear" >
          
      <ion-content has-header="true" class="has-header">
      </ion-content>
  
    </ion-tab>

  </ion-tabs>

</ion-view >  
